*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 80vh;
    width: 100%;
    background-color: #028391;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countainer{
    height: 70vmin;
    width: 90vmin;
    padding: 10vmin;
    border-radius: 50%;
    border: 0.5vmin solid black;
    background-color: #FEAE6F;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gamename{
    font-size: 7vmin;
    margin-bottom: 3vmin;
}

.watch{
    display: flex;
    margin: 20px;
}

.time{
    font-size: 18vmin;

}
.unit{
    display: flex;
    align-items: flex-end;
    font-size: 3vmin;
    font-weight: 600;
}

.btns{
    margin-top:5vmin;
    display: flex;
    gap: 20px;
}

.btn{
    text-align: center;
    font-size: 3.5vmin;
    border-radius: 3vmin;
    padding: 7px;
    width: 15vmin;
    border: none;
    background-color: #212121;
    color: #ffffff;
}

.mili{
    font-size: 6vmin;
    display: flex;
    align-items: flex-end;
    margin: 0px 0px 4vmin 2vmin ;

}
